@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root{
   --yellow:#fed330;
   --red:#e74c3c;
   --white:#fff;
   --black:#222;
   --light-color:#777;
   --border:.2rem solid var(--black);
}

*{
   font-family: 'Rubik', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border: none;
   text-decoration: none;
}

*::selection{
   background-color: var(--yellow);
   color:var(--black);
}

::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

::-webkit-scrollbar-track{
   background-color: transparent;
}

::-webkit-scrollbar-thumb{
   background-color: var(--yellow);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   stop-opacity: 7rem;
}

section{
   margin:0 auto;
   max-width: 1200px;
   padding:2rem;
}

.title{
   text-align: center;
   margin-bottom: 2.5rem;
   font-size: 4rem;
   color:var(--black);
   text-transform: uppercase;
   text-decoration: underline;
   text-underline-offset: 1rem;
}

.heading{
   display: flex;
   align-items: center;
   justify-content: center;
   gap:1rem;
   flex-flow: column;
   background-color: var(--black);
   min-height: 20rem;
}
   
.heading h3{
   font-size: 5rem;
   color:var(--white);
   text-transform: capitalize;
}

.heading p{
   font-size: 2.3rem;
   color:var(--light-color);
}

.heading p a{
   color:var(--yellow);
}

.heading p a:hover{
   text-decoration: underline;
   color:var(--white);
}

.btn,
.delete-btn{
   margin-top: 1rem;
   display: inline-block;
   font-size: 2rem;
   padding:1rem 3rem;
   cursor: pointer;
   text-transform: capitalize;
   transition: .2s linear;
}

.btn{
   background-color: var(--yellow);
   color:var(--black);
}

.delete-btn{
   background-color: var(--red);
   color:var(--white);
}

.btn:hover,
.delete-btn:hover{
   letter-spacing: .2rem;
}

.disabled{
   opacity: .5;
   user-select: none;
   pointer-events: none;
}

.message{
   position: sticky;
   top:0;
   max-width: 1200px;
   margin:0 auto;
   padding:2rem;
   display: flex;
   align-items: center;
   gap:1rem;
   justify-content: space-between;
   background-color: var(--yellow);
}

.message span{
   font-size: 2rem;
   color:var(--black);
}

.message i{
   font-size: 2.5rem;
   color:var(--red);
   cursor: pointer;
}

.message i:hover{
   color:var(--black);
}

.empty{
   border:var(--border);
   padding:1.5rem;
   text-align: center;
   width: 100%;
   font-size: 2rem;
   text-transform: capitalize;
   color:var(--red);
}

.flex-btn{
   display: flex;
   gap:1rem;
}
/* /////////////////////////////////////////////////////////                           Header Section                  */
.header {
   position: sticky;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1000;
   background-color: skyblue;
   border-bottom: var(--border);
}

.header .flex {
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
}

.header .logo {
   font-size: 2.5rem;
   color: var(--black);
}

.header .navbar a {
   font-size: 2rem;
   color: black;
   margin: 0 1rem;
   transition: color 0.3s, text-decoration 0.3s;
}

.header .navbar a:hover {
   color: tomato;
   text-decoration: underline;
}

.header .icons > * {
   margin-left: 1.5rem;
   font-size: 2.5rem;
   color: var(--black);
   cursor: pointer;
   transition: color 0.3s;
}

.header .icons > *:hover {
   color: white;
}

.header .icons span {
   font-size: 2rem;
}

#menu-btn {
   display: none;
}

.header .profile {
   background-color: var(--white);
   border: var(--border);
   padding: 1.5rem;
   text-align: center;
   position: absolute;
   top: 125%;
   right: 2rem;
   width: 30rem;
   display: none;
   animation: fadeIn 0.2s linear;
}

.header .profile.active {
   display: inline-block;
}

@keyframes fadeIn {
   0% {
      transform: translateY(1rem);
   }
}

.header .profile .name {
   font-size: 2rem;
   color: var(--black);
   margin-bottom: 0.5rem;
}

.header .profile .account {
   margin-top: 1.5rem;
   font-size: 2rem;
   color: var(--light-color);
}

.header .profile .account a {
   color: var(--black);
   transition: color 0.3s, text-decoration 0.3s;
}

.header .profile .account a:hover {
   color: white;
   text-decoration: underline;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////        Header Section ends          */
/* /////////////////////////////////////////////////////////                          body staring                                                             */
.hero .slide{
   display: flex;
   align-items: center;
   flex-wrap: wrap-reverse;
   gap:2rem;
   margin-bottom: 4rem;
}

.hero .slide .image{
   flex:1 1 40rem;
}

.hero .slide .image img{
   width: 100%;
}

.hero .slide .content{
   flex:1 1 40rem;
   text-align: center;
}

.hero .slide .content span{
   font-size: 2.5rem;
   color:black;
}

.hero .slide .content h3{
   margin:1rem 0;
   font-size: 6rem;
   color:tomato;
   text-transform: capitalize;
}
/*                 hero end                          */

.swiper-pagination-bullet-active{
   background-color:tomato;
}

.category .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   gap:1.5rem;
   align-items: flex-start;
}

.category .box-container .box{
   border:var(--border);
   padding:2rem;
   text-align: center;
}

.category .box-container .box img{
   width: 100%;
   height: 10rem;
   object-fit: contain;
}

.category .box-container .box h3{
   font-size: 2rem;
   margin-top: 1.5rem;
   color:var(--black);
   text-transform: capitalize;
}

.category .box-container .box:hover{
   background-color: cyan;
}

.category .box-container .box:hover img{
   filter: invert(1);
}

.category .box-container .box:hover h3{
   color:black;
}
/*     Middle part of home          */
/*          */

.form-container form{
   border:var(--border);
   margin:0 auto;
   max-width: 50rem;
   padding:2rem;
   text-align: center;
}

.form-container form h3{
   font-size: 2.5rem;
   color:var(--black);
   text-transform: uppercase;
   margin-bottom: 1rem;
}

.form-container form .box{
   margin:.7rem 0;
   width: 100%;
   border:var(--border);
   padding:1.4rem;
   font-size: 1.8rem;
   color:var(--black);
}

.form-container form p{
   margin-top: 1.5rem;
   font-size: 2rem;
   color:var(--light-color);
}

.form-container form p a{
   color:var(--black);
}

.form-container form p a:hover{
   text-decoration: underline;
}



.footer .grid{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   gap:1.5rem;
   align-items: flex-start;
}

.footer .grid .box{
   border:var(--border);
   padding:2rem;
   text-align: center;
}

.footer .grid .box img{
   height: 10rem;
   width: 100%;
   object-fit: contain;
   margin-bottom: .5rem;
}

.footer .grid .box h3{
   margin:1rem 0;
   font-size: 2rem;
   color:var(--black);
   text-transform: capitalize;
}

.footer .grid .box p,
.footer .grid .box a{
   display: block;
   font-size: 1.7rem;
   color:var(--light-color);
   line-height: 1.8;
}

.footer .grid .box a:hover{
   text-decoration: underline;
}

.credit{
   padding:3rem 2rem;
   text-align: center;
   background-color: var(--black);
   color:var(--white);
   font-size: 2rem;
   text-transform: capitalize;
   /* padding-bottom: 10rem; */
}

.credit span{
   color:var(--yellow);
}
/* media queries  */

@media (max-width:991px) {
   
   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   #menu-btn{
      display: inline-block;
   }

   .header .flex .navbar{
      position: absolute;
      top:99%; left: 0; right: 0;
      border-top: var(--border);
      border-bottom: var(--border);
      background-color: var(--white);
      transition: .2s linear;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .flex .navbar a{
      display: block;
      margin:2rem;
   }

   .header .flex .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

}

@media (max-width:450px) {
   
   html{
      font-size: 50%;
   }

   .title{
      font-size: 3rem;
   }

   .header .flex .logo{
      font-size: 2rem;
   }

   .hero .slide .content h3{
      font-size: 5rem;
   }

  

   .flex-btn{
      flex-flow: column;
      gap:0;
   }   

}